/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Add padding to the navbar */
.navbar
{
    border-bottom: 1px solid #ccc;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Adjust the logo image in the navbar */
.navbar-brand img
{
    border-radius: 5px;
    height: 2.5rem;
    width: auto;
}

/* Set the background color */
/* body
{
    background-color: #2b3035;
} */

/* Adjust text color */
h1, p
{
    color: #ccc;
}

/* Adjust form */
.form-signin
{
    max-width: 330px;
    padding: 1rem;
}

/* Adjust image size */
.container .centered-image
{
    height: 8rem;
    width: auto;
}

.form-signin .form-floating:focus-within
{
    z-index: 2;
}

.form-signin input[type="email"]
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Adjust the middle element to be rounded for any forms */
.form-floating .middle-element
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Adjust the bottom element to be rounded for any forms */
.form-floating .bottom-element
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Adjust the input fields background color */
.form-control
{
    background-color: #2b3035;
}

/* Adjust the input background color when clicked on */
.form-control:focus
{
    background-color: #2b3035;
}

/* Custom styling for any areas with text */
.text-area
{
    width: 60%;
}

/* Set the width and center the input box */
.form-container {
    width: 400px;
    margin: 0 auto;
}

/* Center the checkboxes on the page */
.form-check {
    display: flex;
    justify-content: center;
}

/* Add a space between the checkbox and label */
input[type="checkbox"] {
    margin-right: 10px; /* Adjust the value as needed */
}


/* Initially hide any spinner animations */
/* #loadingSpinner {
    display: none;
} */

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container .centered-image
    {
        height: 6rem;
        width: auto;
    }

    .form-container {
        width: 300px;
        margin: 0 auto;
    }

    .text-area
    {
        width: 90%;
    }
}