{% block main %}
    <div class="container text-center">
        <img class="centered-image mb-3 mt-3" src="../static/faviconio-logo/logo-header.png" alt="Resi.ai Logo">
        <p>
            Applying for jobs has gotten noticeably more difficult over the past few years.
            More companies are using advanced AI technologies to quickly assess candidates for potential
            job openings, and job boards like Indeed and LinkedIn make it trivially easy to post a new job 
            opening to thousands of people in seconds. Apply for a job feels now like a question of quantity 
            rather than quality.
        </p>
        <p>
            This application aims to give some of the power back to the job seekers by providing them with a
            quick and easy way to create quality resumes customized to the job description leveraging the power
            of AI. All you will need is a working OpenAI API Key, an existing resume, and the job description.
        </p>
        <p>
            Not sure how to access an OpenAI key? No need to worry, we will walk you through every step of the
            process. All you have to do is register.
        </p>
        <a class="btn btn-primary" href="/register" role="button">Register Now</a>
    </div>
{% endblock %}