{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <form action="/account" method="post">
        <div class="form-container mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" name="email" value={{ email }} required>
        </div>
        <div class="form-container mb-3">
            <label for="InputPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="InputPassword" name="password" placeholder="New Password">
        </div>
        <div class="form-container mb-3">
            <label for="InputConfirmation" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="InputConfirmation" name="confirmation" placeholder="Confirm New Password">
        </div>
        <div class="form-container mb-3">
            <label for="InputAPIKey" class="form-label">API Key</label>
            <input type="password" class="form-control" id="InputAPIKey" name="user_api_key" placeholder="New API Key" required value={{ user_api_key }}>
        </div>
        <div class="mb-3">
            <label for="resumearea" class="form-label">Copy and paste your existing resume below</label>
            <textarea class="form-control" id="resumearea" placeholder="Existing resume" maxlength="4500" name="resume" rows="10">{{ resume }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}