{% extends "layout.html" %}

{% block title %}
    New API Key
{% endblock %}

{% block main %}
    <div class="container text-area">
        <p>
            <!-- TODO: Create a walktrough of how to get their API Key -->
        </p>
    </div>

    <form action="/api_key" method="post">
        <div class="form-container">
            <div class="form-floating mb-3">
                <input autofill="off" type="password" class="form-control" id="floatingAPI" placeholder="API Key" name="user_api_key" required value={{ user_api_key }}>
                <label for="floatingAPI">API Key</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enter API Key</button>
    </form>
{% endblock %}