{% extends "layout.html" %}

{% block title %}
    Enter API
{% endblock %}

{% block main %}
    <div class="container text-area">
        <p>
            Go to OpenAI's website and create a new API Key.
        </p>
    </div>
    <form action="/login" method="post">
        <div class="mb-3">
          <label for="inputapikey" class="form-label">API Key</label>
          <input type="password" class="form-control" id="inputapikey">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}