{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-5">
        <h1>Tailored Resume</h1>
        <p>
            Just copy and paste all the necessary information and get a resume tailored specifically for the job in seconds!
            For best results, ensure your resume does not have any fancy formatting or layouts. You can save your resume for
            easy access in the <a href="/account">Account</a> page.
        </p>
    </div>

    <form action="/" id="resumeForm" method="post">        
        <div class="mb-3 form-container">
            <label class="form-label" for="jobtitle">Target Job Title</label>
            <input type="text" class="form-control" id="jobtitle" maxlength="50" name="jobtitle" placeholder="Target Job Title" required>
        </div>

        <div class="mb-3 form-container">
            <label class="form-label" for="industry">Target Job Industry</label>
            <input type="text" class="form-control" id="industry" maxlength="50" name="industry" placeholder="Target Job Industry" required>
        </div>

        <div class="mb-3 form-container">
            <label class="form-label" for="company">Target Company</label>
            <input type="text" class="form-control" id="company" maxlength="50" name="company" placeholder="Target Company" required>
        </div>

        <div class="mb-3">
            <label for="jobarea" class="form-label">Copy and paste the target job description below</label>
            <textarea class="form-control" id="jobarea" placeholder="Target job description" maxlength="4500" name="jobdescription" required rows="10"></textarea>
        </div>

        <div class="mb-3">
            <label for="resumearea" class="form-label">Copy and paste your existing resume below</label>
            <textarea class="form-control" id="resumearea" placeholder="Existing resume" maxlength="4500" name="resume" required rows="10">{{ resume }}</textarea>
        </div>

        <div class="mb-3">
            <p>(This may take a few minutes)</p>
            <button class="btn btn-primary" id="submitbutton" type="submit">
                Submit Resume
            </button>
        </div>

    </form>

    <div class="container py-4 mt-4" id="returnresume" hidden>
        <h2>Important Responsibilities</h2>
        <div class="mb-4 text-left" id="impresp">
        </div>
        <h2>Tailored Resume</h2>
        <div class="mb-4 resume-display" id="tailoredresume">
        </div>
        <h2>Differences</h2>
        <div id="differences">
        </div>
    </div>
{% endblock %}

{% block script %}
$(document).ready(function() {
    $('#resumeForm').submit(function(event) {
        event.preventDefault(); // Prevent the form from submitting via the browser
        var form = $(this);
        var url = form.attr('action');

        // Display loading indicator
        $('#submitbutton').html('Proccessing <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>').prop('disabled', true);

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // Serialize form data
            success: function(response) {

                if(response.status === 'success') {
                    // Remove the hidden attribute from #returnresume
                    $('#returnresume').removeAttr('hidden');

                    // Update page with the important responsibilities, tailored resume, and differences
                    $('#impresp').html(response.imp_resp);
                    $('#tailoredresume').html(response.tailored_resume);
                    $('#differences').html(response.differences);
                }

                else if(response.status === 'error') {
                    // Display a meeasge about what went wrong
                    alert(response.message)
                }
            },
            error: function() {
                // Handle error
                alert('An error occurred. Please try again.');
            },
            complete: function() {
                // Hide loading indicator
                $('#submitbutton').html('Submit Resume').prop('disabled', false);
            }
        });
    });
});
{% endblock %}