{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container text-center">
        <img class="centered-image mb-3 mt-3" src="../static/faviconio-logo/logo-header.png" alt="Resi.ai Logo">
    </div>
    <form class="form-signin w-100 m-auto" action="/login" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input autofocus type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control bottom-element" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Log In</button>
    </form>
{% endblock %}
