{% extends "layout.html" %}

{% block title %}
    Price Estimate
{% endblock %}

{% block main %}
<div class="mb-4">
    <h1>Price Estimate</h1>
    <p>
        It will cost about {{ total_cost | usd }} to tailor this resume.
    </p>
    <p>
        This is just an estimate based on typical respose lengths. The actual price could be more or less 
        depending on the length of responses and changes in the cost per token. Check your OpenAI account for
        an up to date look at your balance.
    </p>
{% endblock %}