{% extends "layout.html" %}

{% block title %}
    Price Estimator
{% endblock %}

{% block main %}
<div class="mb-5">
    <h1>Price Estimator</h1>
    <p>Just copy and paste all the necessary information and get an estimate on how much it will cost to use your API to 
        create tailored resume in seconds. For best results, ensure your resume does not have any fancy formatting or layouts.
         You can save your resume for easy access in the <a href="/account">Account</a> page.
    </p>
</div>
<form action="/price_estimator" method="post">        
    <div class="mb-3">
        <label for="jobarea" class="form-label">Copy and paste the target job description below</label>
        <textarea class="form-control" id="jobarea" placeholder="Target job description" name="jobdescription" required></textarea>
    </div>

    <div class="mb-3">
        <label for="resumearea" class="form-label">Copy and paste your existing resume below</label>
        <textarea class="form-control" id="resumearea" placeholder="Existing resume" name="resume">{{ resume }}</textarea>
    </div>

    <div class="mb-3">
        <p>(This may take a few seconds)</p>
        <button class="btn btn-primary" id="submitbutton" type="submit">Get Price Estimate</button>
    </div>
</form>
{% endblock %}