{% extends "layout.html" %}

{% block title %}
    Tailored Cover Letter
{% endblock %}

{% block main %}

    <div class="mb-5">
        <h1>Tailored Cover Letter</h1>
        <p>
            Just copy and paste all the necessary information and get a cover letter tailored specifically for the job in seconds!
            For best results, ensure your resume does not have any fancy formatting or layouts. You can save your resume for
            easy access in the <a href="/account">Account</a> page.
        </p>
    </div>

    <form action="/tailored_cover_letter" id="coverletterForm" method="post">
        
        <div class="mb-3 form-container">
            <label class="form-label" for="prevjob">Previous/Current Job Title</label>
            <input type="text" class="form-control" id="prevjob" maxlength="50" name="prevjob" placeholder="Previous/Current Job Title" required>
        </div>

        <div class="mb-3 form-container">
            <label class="form-label" for="jobtitle">Target Job Title</label>
            <input type="text" class="form-control" id="jobtitle" maxlength="50" name="jobtitle" placeholder="Target Job Title" required>
        </div>

        <div class="mb-3 form-container">
            <label class="form-label" for="company">Target Company</label>
            <input type="text" class="form-control" id="company" maxlength="50" name="company" placeholder="Target Company" required>
        </div>

        <div class="mb-3">
            <label for="jobarea" class="form-label">Copy and paste the target job description below</label>
            <textarea class="form-control" id="jobarea" placeholder="Target job description" maxlength="4000" name="jobdescription" required rows="10"></textarea>
        </div>

        <div class="mb-3">
            <label for="resumearea" class="form-label">Copy and paste your existing resume below</label>
            <textarea class="form-control" id="resumearea" placeholder="Existing resume" maxlength="4500" name="resume" required rows="10">{{ resume }}</textarea>
        </div>

        <!-- TODO: Add information circles that can be hovered over to show what each of these does -->
        <div class="form-check">
            <input class="form-check-input" type="radio" name="coverletter" id="fullcoverletter" value="full" checked>
            <label class="form-check-label" for="fullcoverletter">Full Cover Letter</label>
            <div class="tooltip">
                <img class= "info-icon" src="../static/information-icon.png" alt="Info Icon">
                <span class="tooltiptext">Generate a full length cover letter.</span>
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="coverletter" id="partialcoverletter" value="partial">
            <label class="form-check-label" for="partialcoverletter">Partial Cover Letter</label>
            <div class="tooltip">
                <img class= "info-icon" src="../static/information-icon.png" alt="Info Icon">
                <span class="tooltiptext">
                    Generate a partial cover letter containing the following sections:
                    <ul>
                        <li>A hook</li>
                        <li>Why you're interested</li>
                        <li>Summary of skills and experience</li>
                        <li>Understanding of challenges</li>
                        <li>How you would add value</li>
                        <li>Closing</li>
                    <ul>
                </span>
            </div>
        </div>

        <div class="mb-3">
            <p>(This may take a few minutes)</p>
            <button class="btn btn-primary" id="submitbutton" type="submit">
                Submit Cover Letter
            </button>
        </div>

    </form>

    <div class="container py-4 mt-4" id="returncoverletter" hidden>
        <h2>Tailored Cover Letter</h2>
        <div class="mb-4" id="tailoredcoverletter">
        </div>
    </div>
{% endblock %}

{% block script %}
$(document).ready(function() {
    $('#coverletterForm').submit(function(event) {
        event.preventDefault(); // Prevent the form from submitting via the browser
        var form = $(this);
        var url = form.attr('action');

        // Display loading indicator
        $('#submitbutton').html('Proccessing <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>').prop('disabled', true);

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // Serialize form data
            success: function(response) {

                if(response.status === 'success') {
                    // Remove the hidden attribute from #returncoverletter
                    $('#returncoverletter').removeAttr('hidden');

                    // Update page with the tailored cover letter
                    $('#tailoredcoverletter').html(response.tailored_cover_letter);
                }

                else if(response.status === 'error') {
                    // Display a meeasge about what went wrong
                    alert(response.message)
                }
            },
            error: function() {
                // Handle error
                alert('An error occurred. Please try again.');
            },
            complete: function() {
                // Hide loading indicator
                $('#submitbutton').html('Submit Cover Letter').prop('disabled', false);
            }
        });
    });
});
{% endblock %}